@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,700';
@import './vars.css';
@import './reset.css';
@import './elements/loading-overlay.css';
@import './elements/header.css';
@import './elements/card.css';

body {
  background-color: var(--color-bg);
  overflow: auto;
  position: relative;
}

.contain {
  margin: 0 auto;
  max-width: 1130px;
  padding: 0 15px;
}

.main-content .contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-content section {
  margin-bottom: 45px;
}

.main-content .card_half {
  width: 48%;
}
